*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after,
div:after,
header:after,
footer:after,
p:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #404040;
  background: #ffffff;
  overflow-y: scroll;
}
.mw {
  min-width: 960px;
}
.top-panel {
  padding: 10px 0;
  text-align: right;
  color: #bbb;
  font-size: 14px;
  background: #1e2627;
}
.top-panel-contacts,
.top-panel-soc {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.top-panel-soc {
  margin-left: 15px;

  li {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;

    a:hover {
      opacity: 0.8;
    }
  }
  li:last-child {
    margin-right: -4px;
  }
}
header.gl {
  position: absolute;
  top: 43px;
  left: 50%;
  width: 960px;
  margin-left: -480px;
  padding: 15px 0;
  z-index: 1000;
}
.logo {
  margin-left: -20px;
}
.header-menu {
  padding-top: 15px;

  li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;

    a {
      padding-bottom: 1px;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }
    a:hover,
    a.current {
      border-color: #fff;
    }
  }
  li:last-child {
    margin-right: -4px;
  }
}
.main-slider {
  height: 450px;
  overflow: hidden;
  text-align: center;

  figure {
  position: relative;
  color: #fff;

    h3, h4 {
      position: absolute;
      width: 100%;
      margin: 0;
      font-weight: normal;
    }
    h3 {
      top: 175px;
      font-size: 60px;
      line-height: 1;
    }
    h4 {
      top: 245px;
      font-size: 24px;
      line-height: 1;
    }
  }
}
.arrow {
  position: absolute;
  top: 57%;
  width: 64px;
  height: 55px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
  color: #ccc;
  background: url('../img/arrow-bg.png') no-repeat center center;
}
.arrow:hover {
  opacity: 0.8;
}
.arrow-left {
  left: 41px;
}
.arrow-right {
  right: 41px;
}

/* main page */

.block-title {
  position: relative;
  margin: 0;
  padding: 20px 0;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #274d67;
  z-index: 100;

  &:after {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -16.5px;
    border-style: solid;
    border-width: 14px 17px 0 17px;
    border-color: #274d67 transparent transparent transparent;
    z-index: 100;
  }
}
.block-title.block-title-small {
  width: 380px;
  margin: 0 auto;
}
.block-title.block-title-m {
  margin-top: -60px;
}
.clients-list {
  margin: 0 0 -10px;
  text-align: center;

  .client-single {
    position: relative;
    display: inline-block;
    width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;

    img {
      display: block;
      width: 220px;
      height: 170px;
    }
  }
  .client-single:nth-child(4n) {
    margin-right: 0;
  }
  .client-single-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 5px;
    font-size: 14px;
    color: #fff;
    background: rgba(11, 57, 80, 0.75);
  }
}
.our-awards {
  
  .container {
    padding: 90px 20px;
  }
}
.awards-big-img {
  width: 360px;
  vertical-align: top;

  img {
    width: 360px;
    height: auto;
  }
}
.awards-desc {
  width: 560px;
  margin-top: -25px;
  text-align: center;
  
  article {
    padding: 20px 50px 25px 50px;
  }
  p {
    margin: 35px 0;
  }
}
.awards-imgs {
  text-align: left;

  img {
    display: inline-block;
    width: 185px;
  }
}
.our-portfolio {

  .container {
    padding: 90px 20px;
  }
  .portfolio-clips,
  .portfolio-films {
    position: relative;
    display: block;
    width: 450px;
    height: 280px;
    text-align: center;
    text-decoration: none;
    color: #fff;

    .portfolio-link-title {
      position: absolute;
      top: 95px;
      width: 100%;
      margin: 0;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 1;
    }
    .portfolio-link-desc {
      position: absolute;
      top: 155px;
      width: 100%;
      margin: 0;
      padding: 0 70px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.about-us {
  background: url('../img/testimonials-bg.jpg') no-repeat center top 45px;
  color: #fff;

  .container {
    padding: 90px 20px;
  }
  .about-content,
  .about-testimonials {
    width: 450px;
  }
  .about-want,
  .about-believe {

    h5 {
      margin: 0 0 40px;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      padding-right: 40px;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .about-believe {
    margin-top: 95px;
  }
  .about-testimonials {

    h5 {
      margin: 0 0 40px;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
    }
  }
  .testimonial-single {
    margin-bottom: 40px;

    p {
      margin: 0 0 15px;
      font-size: 16px;
      line-height: 20px;
      font-style: italic;
    }
    .testimonial-author {
      display: block;
      padding-right: 40px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .testimonial-single:last-child {
    margin-bottom: 0;
  }
  .more-testimonials {
    display: block;
    width: 160px;
    margin: 55px auto 0;
    padding: 10px 0;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  .more-testimonials:hover {
    background: transparent;
    color: #fff;
  }
}
.index-footer {
  background: url('../img/footer-bg.jpg') no-repeat fixed center bottom;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;

  .container {
    padding: 155px 20px;
    text-align: center;
  }
  strong {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
  }
  .contact-us {
    display: block;
    width: 160px;
    margin: 25px auto;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #009ec6;
    border: 1px solid #009ec6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  .contact-us:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
  }
}
footer.gl {

  .container {
    padding: 30px 20px;
    text-align: center;
  }
  .to-top {
    display: block;
    width: 145px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    text-decoration: none;

    &:before {
      content: '‹';
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      font-size: 20px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

.page-block {
  padding: 35px 0;
}
.article-block {
  font-size: 14px;
  text-align: center;

  h1 {
    margin: 30px 0;
    font-size: 24px;
    text-align: center;
  }
  p, span, b, strong, i {
    line-height: 24px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.article-single {
  margin-bottom: 35px;

  .article-single-img {
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
  }
  .article-single-img img {
    width: 225px;
    height: auto;
  }
}
.article-single:last-of-type {
  margin-bottom: 0;
}
.article-single-body {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-right: -4px;

  p {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 24px;
  }
}
.article-img-preview .article-single-body {
  width: 670px;
}
.article-single-title {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1;

  a {
    color: #404040;
    text-decoration: none;
  }
  a:hover {
    color: #274d67;
  }
}
.article-more {
  font-size: 18px;
  color: #274d67;
  text-decoration: none;
}
.article-more:hover {
  color: #404040;
}
.share-block {
  margin-top: 35px;
}
.review-single {

  .review-single-img {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 0 35px;

    img {
      width: 260px;
      height: auto;
    }
  }
  .review-single-body {
    display: inline-block;
    width: 550px;
    margin-right: -4px;
    padding: 20px 0 0;
    vertical-align: top;
  }
  .review-single-title {
    margin: 0 0 10px;
    font-weight: normal;
  }
  .review-single-text {

    p {
      margin: 5px 0;
    }
    p, span, b, i, strong {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .review-single-author {
    width: 410px;
    margin: 5px 0 0;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
  }
}
.contacts-left, .contacts-right {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.contacts-left {
  width: 580px;
}
.contacts-right {
  width: 320px;
  margin-left: 20px;
}
.contacts-img {
  display: inline-block;
  width: 200px;
  height: auto;
  margin-right: 15px;
  vertical-align: top;
}
.contacts-left-body {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0;
  margin-right: -4px;

  p {
    margin: 1px 0;
    font-size: 16px;

    b {
      display: block;
      margin: -5px 0 20px;
      font-size: 30px;
      font-weight: normal;
      line-height: 28px;
    }
  }
}
address.contacts-right {
  font-size: 14px;
  line-height: 22px;

  .soc-links {
    margin: 15px 0 0;

    ul {

      li {
        display: inline-block;
        margin: 0 10px;

        a:hover {
          opacity: 0.8;
        }
      }
      li:first-child {
        margin-left: 0;
      }
      li:last-child {
        margin-right: -4;
      }
    }
  }
}
.contacts-bottom {
  margin-top: 35px;
}
.about-block {
  
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    margin: 5px 0;
    padding: 10px 0;
    font-size: 14px;
    line-height: 26px;

    i {
      display: block;
      margin: 15px 0;
      line-height: 20px;

      span {
        font-style: normal;
        font-size: 16px;
      }
    }
  }
  img.to-left {
    margin-right: 15px;
  }
  img.to-right {
    margin-left: 15px;
  }
}
.price-block {
  text-align: center;

  h1, h2 {
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 1;
    color: #274d67;
    text-transform: uppercase;
  }
  h3 {
    margin: 0 0 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    color: #274d67;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
  }
  h1 + p {
    margin-bottom: 45px;
  }
}
.price-add-block {
  text-align: left;

  p {
    line-height: 24px;
  }
}
.our-portfolio-inner {

  .portfolio-desc {
    margin: 35px 0 45px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
}

table {
  width: 100%;
  margin: 35px 0;
  font-size: 16px;
  text-align: center;

  th, thead td {
    font-weight: lighter;
    padding: 20px;
    color: #fff;
    background: #274d67;
    border-right: 1px solid #fff;
  }
  th:first-child, thead td:first-child {
    width: 520px;
    text-align: left;
  }
  th:last-child, thead td:last-child {
    border-right: none;
  } 
  tr td, tbody td {
    padding: 20px;
    background: #efefef;
    border-right: 1px solid #fff;
  }
  tr td:first-child, tbody td:first-child {
    text-align: left;
  }
  tr td:last-child, tbody td:last-child {
    border-right: none;
  }
  tr {
    border-bottom: 1px solid #fff;
  }
}
form {

  .form-title {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 1;
  }
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
  }
  input[type=text],
  input[type=email] {
    height: 40px;
  }
  textarea {
    height: 105px;
  }
  input[type=submit] {
    display: inline-block;
    margin-right: 5px;
    padding: 13px 32px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background: #149adf;
    border: none;
    vertical-align: middle;
    outline: none;
  }
  input[type=submit]:hover {
    opacity: 0.8;
  }
  input[type=submit] + span {
    display: inline-block;
    margin-right: -4px;
    width: 165px;
    vertical-align: middle;
    font-size: 14px;
    font-style: italic;
    color: #818181;
  }
}
.divider-medium {
  width: 480px;
  height: 1px;
  margin: 20px auto;
  background: #274d67;
  opacity: 0.3;
}
.divider-small {
  width: 300px;
  height: 1px;
  margin: 20px auto;
  background: #274d67;
  opacity: 0.3;
}
.pagination {
  margin: 35px 0 0;
  text-align: center;

  ul {

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;

      a {
        display: block;
        padding: 8px 10px;
        font-size: 18px;
        color: #404040;
        text-decoration: none;
      }
      a:hover, a.current, a.active, b {
        color: #fff;
        background: #274d67;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
      }
    }
  }
}

/* adaptive part */

@media screen and (max-width: 767px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 800px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1600px) {}